<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Budget Buddy</display-name>

    <!-- Определение фильтров -->
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>app.filter.UserFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>app.filter.AuthFilter</filter-class>
    </filter>

    <filter>
        <filter-name>GroupAccessFilter</filter-name>
        <filter-class>app.filter.GroupAccessFilter</filter-class>
    </filter>

    <filter>
        <filter-name>GoalAccessFilter</filter-name>
        <filter-class>app.filter.GoalAccessFilter</filter-class>
    </filter>

    <!-- Маппинг фильтров -->

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/groups/*</url-pattern>
        <url-pattern>/goals/*</url-pattern>
        <url-pattern>/expenses/*</url-pattern>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GroupAccessFilter</filter-name>
        <url-pattern>/groups/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GoalAccessFilter</filter-name>
        <url-pattern>/goals/*</url-pattern>
    </filter-mapping>

    <!-- Обработка ошибок -->
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/error/403.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error/500.jsp</location>
    </error-page>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>

</web-app>